############# begin Atlas config section ##########
--noNimblePath
--path:"deps/jsonx/src"
--path:"deps/relay/src"
--path:"deps/openai/src"
--path:"deps/sdl3/src"
--path:"deps/uirelays/src"
############# end Atlas config section   ##########

--path:"src"
